/** CSS from vite, keep these for now */
body {
  background-color: #080e22;
  
}

#root {
  height: 90vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15rem;
  text-align: center;
}

.iconContainer {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0;
}

.iconWrapper{
  width: 110px;
  height: 140px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconLogo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: invert(100%) sepia(0) saturate(1%) hue-rotate(87deg) brightness(105%) contrast(101%);
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #e1d42a;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
  margin-top: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #dedede;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

